body {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 500px;
}

header {
    padding: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: 100;
    margin: 5px;
}

nav ul li a:hover {
    font-weight: 400;
}

canvas {
    color: #ffffff;
    border: #ffffff dashed;
    margin-left: 150px;
}

.container {
    padding-top: 50px;
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
}

button .tried {
    opacity: 0.2;
}

.letter-button {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 100%;
    margin: 4px;
    cursor: pointer;
    font-size: 1.2em;
    font-family: monospace;
    text-transform: uppercase;
    background-color: white;
}

.letter-button:hover {
    border: 1px solid #000000;
}

.letter-button:deactivated {
    border: none;
}

.centered {
    margin: auto;
}

#displayed-word {
    font-size: 1.2em;
    margin: auto;
    margin-bottom: 1em;
    justify-content: center;
}

#displayed-keyboard {
    font-size: 1em;
    margin: auto;
    margin-bottom: 1em;
}

#word-try {
    width: 115px;
}

#flex-header {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#footer-div {
    border-top: 3px solid black;
    margin-top: 30px;
    padding: 30px;
}

#score {
    display: none;
}

#hangmanDiv {
    text-align: center;
    padding-top: 30px;
}

@media all and (max-width: 1000px) {
    canvas {
        display: none;
    }

    .container {
        width: 500px;
    }

    #displayed-keyboard {
        display: block;
    }

    #flex-header {
        width: 500px;
        justify-content: space-around;
    }

    #score {
        display: block;
    }
}